
.hot{
    padding:0 15px;
}

.hotTitle{
    position: relative;
    align-items: center;
    height: 80px;
    line-height: 80px;
    border:solid 1px red;
}

.abc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}