.customHeader{
    font-size:32px;
    height: 120px;
    padding-top:60px;
    display: flex;
    align-items: center;
}
.back{
    flex:1;
    padding-left: 16px;
}
.title{
    flex:4;
    text-align: center;
}