@import "../public/iconfont/iconfont.css";

View,Text,Image {
  box-sizing: border-box;
}

page {
  background: #FFF;
  height: 100%;
}

.no-border{
  background: none !important;
  color: #000 !important;
}
.no-border:after{
  border: none;
}

.flex{
  display: flex;
}