@font-face {
    font-family: 'iconfont';  /* project id 2080827 */
    src: url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.eot');
    src: url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.woff') format('woff'),
    url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2080827_y3ecjkk6cs.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 38px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
    content: "\e63f";
}

.icon-weixin:before {
    content: "\e632";
}

.icon-chakantiezigengduo:before {
    content: "\e661";
}

.icon-ai19:before {
    content: "\e687";
}

.icon-kefu:before {
    content: "\e62d";
}

.icon-video:before {
    content: "\e741";
}